# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

*.tgz

outputs/
Data/Mozarteum_v2/*
Data/Mozarteum/mozarteum_dataset
Data/GrandStaff/grandstaff_dataset
Data/GrandStaff/grandstaff_dataset_old
Data/FPGrandStaff/fp_grandstaff_dataset
Data/StringQuartets/quartets_dataset
Data/Polish_Scores/polish_scores_dataset
Data/Polish_Scores/normalized_images
Data/PolishScores/polish_corpus_v0_dataset
Data/PolishScores/polish_corpus_v1_dataset
Data/PolishScores/polish_corpus_v2_dataset
Data/MSCorePianoSynth/excerpts
Data/PolishScores/polish_by_period
Data/PseudoSynthGen/
Data/failed_conversions/

wandb/
weights/
out/
frames/*
animation/*
weights_old/*
Data/*.tgz
lightning_logs/
Generator/paper_textures/
Generator/paper_textures_old/
perico/*
predictions_by_SER/
predictions_polish_by_SER
old.py
joblib_cache/
SMTPP/*

Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_14.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_14.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_14.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_15.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_15.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_16.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_16.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_16.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_17.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_17.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_17.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_18.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_18.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_18.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_26.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_26.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_26.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_27.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_27.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_27.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_28.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_28.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_28.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_29.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_29.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_29.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_30.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_30.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_30.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_40.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_40.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_40.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_41.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_41.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_41.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_42.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_42.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_42.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_48.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_48.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_48.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_49.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_49.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_49.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_50.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_50.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_50.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_51.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_51.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_51.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_60.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_60.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_60.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_61.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_61.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_62.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_62.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_62.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_63.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_63.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_63.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_64.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_64.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_64.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_65.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_65.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_65.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_66.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_66.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_66.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_84.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_84.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_84.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_85.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_85.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_85.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_86.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_86.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_86.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_87.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_87.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_87.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_88.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_88.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_88.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_89.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_89.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_89.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_104.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_104.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_104.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_105.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_105.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_105.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_106.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_106.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_106.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_107.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_107.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_107.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_108.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_108.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_108.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_109.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_109.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_109.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_122.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_122.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_122.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_123.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_123.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_123.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_124.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_124.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_124.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_125.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_125.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_126.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_126.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_126.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_127.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_196_127.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_2.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_2.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_2.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_3.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_3.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_3.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_4.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_4.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_4.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_5.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_5.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_5.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_6.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_6.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_6.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_14.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_14.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_14.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_15.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_15.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_15.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_16.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_16.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_16.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_17.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_17.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_17.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_18.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_18.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_18.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_19.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_19.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_20.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_20.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_20.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_21.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_21.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_21.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_28.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_28.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_28.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_29.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_29.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_29.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_30.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_30.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_30.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_31.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_31.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_31.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_32.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_32.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_32.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_33.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_33.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_33.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_34.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_34.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_34.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_48.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_48.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_48.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_49.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_49.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_49.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_50.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_50.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_50.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_51.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_51.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_51.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_52.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_52.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_52.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_53.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_53.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_53.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_54.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_54.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_54.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_55.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_55.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_55.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_98.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_98.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_98.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_99.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_99.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_99.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_100.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_100.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_100.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_101.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_101.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_102.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_102.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_102.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_103.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_103.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_103.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_104.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_104.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_104.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_105.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_105.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_105.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_106.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_106.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_106.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_107.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_107.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_107.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_113.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_113.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_113.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_114.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_114.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_114.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_115.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_115.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_116.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_116.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_116.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_117.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_117.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_117.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_118.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_118.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_118.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_119.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_119.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_119.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_120.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_120.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_120.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_121.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_121.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_121.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_122.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_122.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_122.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_123.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_123.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_123.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_124.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_124.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_124.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_125.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_125.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_125.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_132.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_132.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_132.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_133.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_133.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_133.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_134.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_134.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_134.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_135.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_135.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_135.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_136.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_136.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_136.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_137.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_137.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_137.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_138.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_138.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_138.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_139.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_139.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_139.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_148.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_148.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_148.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_149.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_149.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_149.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_150.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_150.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_150.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_151.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_151.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_151.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_152.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_152.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_152.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_153.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_153.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_197_153.krn
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_202_102.ekern
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_202_102.jpg
Data/Mozarteum/Mozarteum/mozarteum_dataset/ucb20_202_102.krn
Data/Mozarteum/Mozarteum/partitions_mozarteum/excerpts/fold_0/test_photoscore.txt
Data/Mozarteum/Mozarteum/partitions_mozarteum/excerpts/fold_0/test.txt
Data/Mozarteum/Mozarteum/partitions_mozarteum/excerpts/fold_0/train.txt
Data/Mozarteum/Mozarteum/partitions_mozarteum/excerpts/fold_0/val.txt
Data/Mozarteum/Mozarteum/partitions_mozarteum/excerpts/fold_1/test_photoscore.txt
Data/Mozarteum/Mozarteum/partitions_mozarteum/excerpts/fold_1/test.txt
Data/Mozarteum/Mozarteum/partitions_mozarteum/excerpts/fold_1/train.txt
Data/Mozarteum/Mozarteum/partitions_mozarteum/excerpts/fold_1/val.txt
Data/Mozarteum/Mozarteum/partitions_mozarteum/excerpts/fold_2/test_photoscore.txt
Data/Mozarteum/Mozarteum/partitions_mozarteum/excerpts/fold_2/test.txt
Data/Mozarteum/Mozarteum/partitions_mozarteum/excerpts/fold_2/train.txt
Data/Mozarteum/Mozarteum/partitions_mozarteum/excerpts/fold_2/val.txt
Data/Mozarteum/Mozarteum/partitions_mozarteum/excerpts/fold_3/test_photoscore.txt
Data/Mozarteum/Mozarteum/partitions_mozarteum/excerpts/fold_3/test.txt
Data/Mozarteum/Mozarteum/partitions_mozarteum/excerpts/fold_3/train.txt
Data/Mozarteum/Mozarteum/partitions_mozarteum/excerpts/fold_3/val.txt
Data/Mozarteum/Mozarteum/partitions_mozarteum/excerpts/fold_4/test_photoscore.txt
Data/Mozarteum/Mozarteum/partitions_mozarteum/excerpts/fold_4/test.txt
Data/Mozarteum/Mozarteum/partitions_mozarteum/excerpts/fold_4/train.txt
Data/Mozarteum/Mozarteum/partitions_mozarteum/excerpts/fold_4/val.txt
Data/Mozarteum/Mozarteum/partitions_mozarteum.py
